#top-educations{
      // Title
      .center-text{
        text-align: center;
        font-size: $h2-font;
        font-weight: 800;
      }

      // Content 
      .top-educations-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        gap: 3rem;
        margin-top: 5rem;
        // Box
        .box{
            position: relative;
        }
        img{
            width: 100%;
            height: 300px;
            border-radius: 10px;
            filter: brightness(70%);
            @extend .transition;
            &:hover{
                scale: 1.05;
            }
        }

        //Bottom 
        .box-bottom{
            position: absolute;
            bottom: 40px;
            left: 25px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            h3{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 18px;
                i{
                    color: $main-color;
                }
            }
        }
      }
       // Btn Wrapper
  .btn-wrapper {
    margin-top: 4rem;
    text-align: center;
  }
}