// * Goggle Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// * Scss Imports

@import "./variables";
@import "./global";
@import "./mixin";
@import "./header";
@import "./home";
@import "./educations";
@import "./about-us";
@import "./top-educations";
@import "./contact-us";
@import "./footer";

// * Css Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
a {
  color: $text-color;
}

body {
  font-family: "Open Sans", serif;
  background-color: $bg-color;
  color: $text-color;
}

.btn {
  padding: 13px 40px;
  display: inline-block;
  background-color: $main-color;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid transparent;
  @extend .transition;
  &:hover {
    border: 2px solid white;
    background-color: transparent;
    color: $text-color;
    transform: translateX(10px);
  }
}

section {
  padding: 70px 17% 60px;
}